<div class="select-button" (click)="showSelect()"><h3>SELECT ALL</h3></div>
<div class="select-button" (click)="showSelect()"><h3>UNSELECT ALL</h3></div>
<div class="select-button" (click)="showSelect()"><h3>DELETE</h3></div>
<div class="filter-button" (click)="showFilter()"><h3>FILTER</h3></div>

<div class="filter-form" [@filterShown]="filterShown">
    <p class="exit" (click)="cancelFilter()">X</p>
    <h2>Facility Filter</h2>
    
    <input [(ngModel)]="filter.latMin" placeholder="Min Latitude">
    <input [(ngModel)]="filter.latMax" placeholder="Max Latitude">
    <input [(ngModel)]="filter.lonMin" placeholder="Min Longitude">
    <input [(ngModel)]="filter.lonMax" placeholder="Max Longitude">

    <button (click)="search()">Search</button>
</div>