.scenario-search {
    left: 100%;
    height: 70%;
    width: 40%;
    position: fixed;
    top: 10%;
    border: 3px solid #55aaee;
    border-radius: 5px;
    background: #ffffff;
    z-index: 1000;
    transition: left .5s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.4);
}

.hide {
    position: absolute;
    bottom: 10px;
    left: 10px;
}