<div class="scenario-search">
    <h1 class="title">From the Web</h1>

    <div class="field">
        <p>Minimum Magnitude: </p>
        <select [(ngModel)]="filter.minmagnitude">
            <option *ngFor="let mag of [3,4,5,6,7,8,9]" [value]="mag">{{ mag }}</option>
        </select>
    </div>

    <div class="date">
        <h3>Date Range</h3>
        <p>start : End</p>
    </div>


    <table class="pos-table">
        <tr>
            <th>Minimum Latitude:</th>
            <td><select [(ngModel)]="filter.minlatitude">
            <option *ngFor="let lat of lats" [value]="lat">{{ lat }}</option>
        </select></td>
        </tr>
        
        <tr>
            <th>Maximum Latitude:</th>
            <td><select [(ngModel)]="filter.maxlatitude">
            <option *ngFor="let lat of lats" [value]="lat">{{ lat }}</option>
        </select></td>
        </tr>
        
        <tr>
            <th>Minimum Longitude:</th>
            <td><select [(ngModel)]="filter.minlongitude">
            <option *ngFor="let lon of lons" [value]="lon">{{ lon }}</option>
        </select></td>
        </tr>
        
        <tr>
            <th>Maximum Longitude:</th>
            <td><select [(ngModel)]="filter.maxlongitude">
            <option *ngFor="let lon of lons" [value]="lon">{{ lon }}</option>
        </select></td>
        </tr>
    
    </table>

    <div class="field">
        <p>Scenarios Only</p><input type="checkbox" [(ngModel)]="filter.scenariosOnly">
    </div>
    
    <h2 class="search button" (click)="eqService.getDataFromWeb(filter)">Search</h2>
    <div class="hide-container">
        <h2 class="hide button" (click)="hide()">Hide</h2>
    </div>

</div>