image: docker:19.03.13

include:
  - project: 'ghsc/hazdev/pipeline-build-template'
    ref: 'master'
    file: 'templates/library.yml'

variables:
  IMAGE_NAME: "$CI_PROJECT_NAME:${CI_PIPELINE_ID}"
  SERVER_REGISTRY_IMAGE_NAME: "shakecast/server"
  API_REGISTRY_IMAGE_NAME: "shakecast/api-server"
  DOCKER_DRIVER: overlay2

stages:
  - build
  - test
  - release
  - deploy

.python-test:
  tags:
    - shakecast-dev
  only:
    - merge_requests
  before_script:
    - cd ${CI_PROJECT_DIR}
    - chmod +x test_env.sh
    - ./test_env.sh

.shakecast-dev:
  tags:
    - shakecast-dev

.release:
  before_script:
    - echo ${CI_COMMIT_REF_NAME} > shakecast/version


# BUILD STEPS
build-test-images:
  stage: build
  extends: 
    - .shakecast-dev
    - .dind
  only:
    - merge_requests
  script:
    - docker build -f sc-server.dockerfile . -t shakecast-server:test
    - docker build -f web-server.dockerfile . -t shakecast-web-server:test


# TESTING THE PYTHON APP
app-test:
  stage: test
  image: shakecast/centos
  extends: 
    - .shakecast-dev
    - .python-test
  script:
    - python -m shakecast.tests.bundle

api-test:
  stage: test
  image: shakecast/centos
  extends: 
    - .shakecast-dev
    - .python-test
  script:
    - python -m shakecast.api &
    - sleep 5
    - curl localhost:5000

# RELEASE CONTAINERS
release-dev:
  stage: release
  extends:
    - .dind
    - .release
  tags:
    - build
  only:
    - master
  except:
    - schedules
  script:
    - docker build -f sc-server.dockerfile . -t $CODE_REGISTRY_IMAGE/$SERVER_REGISTRY_IMAGE_NAME:dev
    - docker build -f web-server.dockerfile . -t $CODE_REGISTRY_IMAGE/$API_REGISTRY_IMAGE_NAME:dev
    - docker push $CODE_REGISTRY_IMAGE/$SERVER_REGISTRY_IMAGE_NAME:dev
    - docker push $CODE_REGISTRY_IMAGE/$API_REGISTRY_IMAGE_NAME:dev
  after_script:
    - docker rmi $CODE_REGISTRY_IMAGE/$SERVER_REGISTRY_IMAGE_NAME:dev
    - docker rmi $CODE_REGISTRY_IMAGE/$API_REGISTRY_IMAGE_NAME:dev

