language: python
python:
  - "2.7"

services:
  - docker

env:
  - DOCKER_COMPOSE_VERSION=1.24.0

before_install:
  - sudo rm /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin

stages:
  - name: after_success
    if: branch = master

install: 
  - pip install -r requirements.txt
  - pip install codecov
  - python -m shakecast.app.startup
  - python -m shakecast.tests.smtpserver &

script:
  - coverage run -m shakecast.tests.bundle
  - docker-compose up -d
  
after_success:
  - codecov

deploy:
  - provider: pypi
    user: "dslosky"
    password: $PYPI_PASSWORD
    distributions: "bdist_wheel"
    on:
      tags: true