.settings {
    position: relative;
    z-index: 2;
    background: #fff;
}

.section {
    border-bottom: 20px dashed #efefef;
    padding: 10px;
    margin: 10px;
}

.item {
    display: inline-block;
    margin: 5px;
    border: 2px solid #55aaee;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}

.item p {
    display: inline-block;
}

.item label {
    font-weight: bold
}

.item input {
    font-size: 15px;
}

th {
    text-align: right;
}

.spin-table td, .spin-table tr {
    border-width: 0px;
}

.save, .reset {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.button:hover .fa {
    color:white;
}

#db-str {
    text-align: center;
    margin: 2px;
    font-style: italic;
    color: rgba(0,0,0,.5);
}