<div class="page-title">
    <h2>Earthquakes</h2>
    <p>Map view of earthquakes and the facilities effected by them</p>
</div>

<div class="div-container">
    <div class="leaf-container" top-lock="fix-to-top" padding-top="50">
        <leaflet id="map" style="width:100%;height:100%" lf-center="eqCenter" defaults="defaults" markers="markers" layers="layers"></leaflet>
    </div>
</div>

<label for="all_events">Show: </label>
<label><input type="radio" name="all_events" ng-model="filter.all_events" ng-value="true">All Events</label>
<label><input type="radio" name="all_events" ng-model="filter.all_events" ng-value="false">Events with Shakemaps</label><br>

<label for="group">Groups Affected: </label><input id="group" class="group" ng-model="filter.group"/>

<div ng-show="!filter.all_events">
<p>Contains the point</p>
<label for="lat">Latitude: </label><input id="lat" class="lat" ng-model="filter.lat"/>
<label for="lon">Longitude</label><input id="lon" class="lon" ng-model="filter.lon"/>
</div>
<button class="button" ng-click="getEQsFilter(lastID=0, filter=filter)">Go</button>
<button class="button" ng-click="clearFilter()">Clear</button>

<table class="eq-table table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Magnitude</th>
            <th>Time</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="eq" ng-click="loadEQ($index)" ng-repeat="eq in eq_data">
            <td>{[ $index + 1 ]}</td>
            <td>{[ eq['event_id'] ]}</td>
            <td>{[ eq['magnitude'] ]}</td>
            <td>{[ eq['time'] * 1000 | date]}</td>
            <td>{[ eq['place'] ]}</td>
        </tr>
    </tbody>
</table>

<h2 ng-click="getEQs(index=lastID, filter=filter)" class="more-facilities">LOAD MORE</h2>