<div class="map-container">
    <my-map class="map" stickToTop></my-map>
</div>

<earthquake-list></earthquake-list>

<div *ngIf="!searchShown">
    <h3 class="button"  (click)="getMore()">Get More</h3>
</div>
<div *ngIf="searchShown">
    <h3 class="button"  (click)="eqService.showScenarioSearch.next(true)">Search</h3>
    <h3 class="button" (click)="eqService.downloadScenario(eqService.selected.event_id)">Download</h3>
    <h3 class="button" (click)="userScenarios()">Your Scenarios</h3>
</div>

<scenario-search>
</scenario-search>
