<div class="container">
    <div class="not-column column">
        <div class="notification" #notificationContainer></div>
    </div>
    <div class="conf-column column">
        <div class="conf-content-container">
            <div class="conf-content" stickToTop>
                <h2>Select Notification</h2>
                <select>
                    <option value="default">Default</option>
                </select>
                <p>Type: </p>
                <p>Admin Email</p>
                <p>Body Color: </p>
                <p>Header Background Color: </p>
                <p>Header Font Color: </p>
                <p>Second Header Color: </p>
                <p>Into Font Color: </p>
                <p>Intro Background Color: </p>
                <p>Intro Text: </p>
                <p>Footer Header Color: </p>
                <p>Footer Font Color: </p>
                <p>Table Border Color: </p>
            </div>
        </div>
    </div>
</div>