.container {
    width: 100%;
    background: #fff;
    display: flex;
}

.column {
    display: inline-block;
    padding: 5px;
}

.not-column {
    width: 55%
}

.conf-column {
    width: 40%;
}

.conf-column h2 {
    margin-top: 0;
    padding-top: 20px;
}

.item p, .item h3 {
    display: inline-block;
    margin: 5px;
}

.item .label {
    font-weight: bolder;
}

.event-type {
    cursor: pointer;
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.event-type:hover {
    background: #55AAD0;
    color: #ffffff;
}

.event-type.selected {
    border: 3px solid #55AAD0;
}