.container {
    width: 100%;
    background: #fff;
    display: flex;
}

.not-dropdown {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.column {
    display: inline-block;
    padding: 5px;
}

.not-column, .conf-column {
    z-index: 2;
    background: white;
}

.not-column {
    width: 55%
}

.conf-column {
    width: 40%;
}

.conf-column h2 {
    margin-top: 0;
}

.conf-content {
    padding-top: 20px;
}

.item p, .item h3 {
    display: inline-block;
    margin: 5px;
}

.item .label {
    font-weight: bolder;
}

.event-type {
    cursor: pointer;
    border: 3px solid #ffffff;
    border-radius: 5px;
    padding: 5px;
}

.event-type:hover {
    background: #55aaee;
    border-color: #55aaee;
    color: #ffffff;
}

.event-type.selected {
    border: 3px solid #55aaee;
}

.control-buttons {
    margin-top: 20px;
}

/*
.button {
    display: inline-block;
    border: 3px solid #55AAD0;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.button:hover {
    background: #55AAD0;
    color: #ffffff;
}
*/