<div class="container">
    <div class="not-column column">
        <div class="notification" #notificationContainer></div>
    </div>
    <div class="conf-column column">
        <div class="conf-content-container">
            <div class="conf-content" stickToTop>
                <h2>Select Notification</h2>
                <select>
                    <option value="default">Default</option>
                </select>
                <div class="item">
                    <p class="label">Type: </p><p class="conf">{{ config?.type=='new_event' }}</p>
                </div>
                <div class="item">
                    <p class="label">Admin Email:</p><p class="conf">{{ config?.admin_email }}</p>
                </div>
                <div class="item">
                    <p class="label">Body Color: </p><p class="conf">{{ config?.body_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Header Background Color: </p><p class="conf">{{ config?.section_head?.back_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Header Font Color: </p><p class="conf">{{ config?.section_head?.font_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Second Header Border Color: </p><p class="conf">{{ config?.second_head?.border_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Second Header Font Color: </p><p class="conf">{{ config?.second_head?.font_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Intro Font Color: </p><p class="conf">{{ config?.intro?.font_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Intro Background Color: </p><p class="conf">{{ config?.intro?.back_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Intro Text: </p><p class="conf">{{ config?.intro?.text }}</p>
                </div>
                <div class="item">
                    <p class="label">Footer Header Color: </p><p class="conf">{{ config?.footer?.header_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Footer Font Color: </p><p class="conf">{{ config?.footer?.font_color }}</p>
                </div>
                <div class="item">
                    <p class="label">Table Border Color: </p><p class="conf">{{ config?.table?.border_color }}</p>
                </div>
            </div>
        </div>
    </div>
</div>