.container {
	width: 30%;
    margin-left: 69%;
	position: fixed;
	bottom: 2px;
	text-align: center;
    -webkit-animation: fadeIn .5s; /* Safari 4.0 - 8.0 */
    animation: fadeIn .5s;
	animation-delay: .1s;
	opacity: 0;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation-fill-mode:forwards; /*IE 10+*/
	animation-fill-mode:forwards; /*when the spec is finished*/
}

.div1, .div2, .div3 {
    -webkit-animation: mymove 3s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 3s infinite;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #55aaee;
	display: inline-block;
    left: 0;
}

.div1 {
    animation-delay: 0s
}

.div2 {
    animation-delay: .5s
}

.div3 {
    animation-delay: 1s
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0%   {
        left: 0;
        opacity: 0
    }
    10%   {
        left: 10%;
        opacity: 1;
    }
    90%   {
        left: 90%;
        opacity: 1;
    }
    100%  {
        left: 100%;
        opacity: 0;
    }
}

/* Standard syntax */
@keyframes mymove {
    0%   {
        left: 0;
        opacity: 0
    }
    10%   {
        left: 10%;
        opacity: 1;
    }
    90%   {
        left: 90%;
        opacity: 1;
    }
    100%  {
        left: 100%;
        opacity: 0;
    }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
    0%   {opacity: 0;}
	100%   {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
    0%   {opacity: 0;}
	100%   {opacity: 1;}
}