.container {
	width: 100%;
	position: fixed;
	bottom: 10px;
	text-align: center;
    -webkit-animation: fadeIn .5s; /* Safari 4.0 - 8.0 */
    animation: fadeIn .5s;
	animation-delay: .1s;
	opacity: 0;
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
	-moz-animation-fill-mode:forwards; /*FF 5+*/
	-o-animation-fill-mode:forwards; /*Not implemented yet*/
	-ms-animation-fill-mode:forwards; /*IE 10+*/
	animation-fill-mode:forwards; /*when the spec is finished*/
}

.div1, .div2, .div3 {
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
    position :relative;
    width: 15%;
    height: 50px;
    background: skyblue;
	display: inline-block;
    margin:20px;
}

.div1 {
    animation-delay: 0s
}

.div2 {
    animation-delay: .1s
}

.div3 {
    animation-delay: .2s
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    0%   {transform: translateX(0);}
    50%  {transform: translateX(98%);}
    100%  {transform: translateX(0);}
}

/* Standard syntax */
@keyframes mymove {
    0%   {transform: translateX(0);}
    50%  {transform: translateX(25%);}
    100%  {transform: translateX(0);}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
    0%   {opacity: 0;}
	100%   {opacity: 1;}
}

/* Standard syntax */
@keyframes fadeIn {
    0%   {opacity: 0;}
	100%   {opacity: 1;}
}