<table class="table">    
    <tr>
        <th>ID:</th>
        <td>{{ eq.event_id }}</td>
    </tr>
    <tr> 
        <th>Magnitude:</th>
        <td>{{ eq.magnitude }}</td>
    </tr>
    <tr>
        <th>Depth:</th>
        <td>{{ eq.depth }}</td>
    </tr>
    <tr>
        <th>Latitude:</th>
        <td>{{ eq.lat }}</td>
    </tr>
    <tr>
        <th>Longitude:</th>
        <td>{{ eq.lon }}</td>
    </tr>
    <tr>
        <th>Description:</th>
        <td>{{ eq.place }}</td>
    </tr>
</table>