<h3 class="title">Dashboard</h3>
<div class="outer-dash-container">
    <div class="dash-container">
        <div class="outer-map-eq-container">
            <div class="map-eq-container">
                <div class="map-container">
                    <my-map class="map"></my-map>
                </div>
                <div class="eq-container">
                    <h2>{{ earthquakeData.length }} Recent Earthquakes</h2>
                    <earthquake-list></earthquake-list>
                </div>
            </div>
        </div>
        <div class="outer-fac-not-container">
            <div class="fac-not-container">
                <div class="fac-container">
                    <div *ngIf="facilityData.length > 0">
                        <h2>{{ facilityData.length }} Facilities Affected</h2>
                    </div>
                    <facility-list></facility-list>
                </div>
                <div class="not-container">
                    <h2>Notifications</h2>
                    <div class="not-dash">
                        <notification-dash></notification-dash>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
