.filter-form {
    padding: 10px;
}

h2 {
    text-align: left;
    margin: 0 0 0 20px;
    color: white;
    padding: 5px;
}

.control {
    padding: 20px 20px 0 20px;
    text-align: center;
}

.buttons-container {
    border: 2px solid #55aaee;
    border-radius: 5px;
    padding: 5px;
}

.form-container {
    display: inline-block;
    min-width: 300px;
    text-align: center;
}

.form-container input {
    height: 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}