.outer-container {
    height: 400px;
    position: relative;
    overflow: visible;
}

.eqs-container {
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.eq {
    margin-top: 30px;
    width: 20%;
    min-width: 280px;
    display: inline-block;
    min-height: 200px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px; 
    border-radius: 5px;
    border-style: solid;
    border-color:#aaaaaa;
    vertical-align: top
}

/* header */
.eq-header {
    height: 40px;
    background-color: #aaaaaa;
}

.eq-header h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding-top: 5px;
}

/* body */
.info-container {
    margin: 5px;
}

.eq p {
    white-space: normal;
    text-align: center;
}

th, td {
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

/* eq filter */
.eq-filter {
    z-index: 1000;
}