{% if web is sameas false %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
</head>
{% endif %}
<{{ 'body' if web is sameas false else 'div' }} style="background-color:{{ config.body_color }};width:700px;margin-top:5px">
    <table style="table-layout:fixed;width:100%">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <div style="width: 80px">                                
                                {% if web is sameas false %}
                                    <img style="border-radius:50%;max-height:100%;max-width:100%;" src="cid:sc_logo{{ shakemap.shakecast_id }}">
                                {% else %}
                                    <img style="border-radius:50%;max-height:100%;max-width:100%;" src="/static/{{ config.logo }}">
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <h1 style="color:#444444;font-size:50px;font-family:Arial;margin:0px">{{ config.head_text }}</h1>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width:95%;margin-left:2.5%">
                    <tr>
                        <td>
                            <h2 style="font-family:Arial;color:{{ config.section_head.font_color }};background-color:{{ config.section_head.back_color }};padding:10px;margin-top:20px;margin-bottom:5px">Inspection Notification</h2>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="width:90%;margin-left:5%;font-family:Arial;color:#444444;font-weight:bold">
                    <tr>
                        <td>
                            <h2 style="margin-top:20px;margin-bottom:0px">Magnitude {{ shakemap.event.magnitude }}</h2>
                            <h2 style="margin-top:5px;margin-bottom:5px;border-bottom:2px solid #444444">{{ shakemap.event.place }}</h2>
                            <table>
                                <tr>
                                    <td>Number of Facilities Evaluated</td>
                                    <td>: {{ fac_details.all }}</td>
                                </tr>
                                <tr>
                                    <td style="color:red">High Impact</td>
                                    <td>: {{ fac_details.red }}</td>
                                </tr>
                                <tr>
                                    <td style="color:orange">Moderate-High Impact</td>
                                    <td>: {{ fac_details.orange }}</td>
                                </tr>
                                <tr>
                                    <td style="color:gold">Moderate Impact</td>
                                    <td>: {{ fac_details.yellow }}</td>
                                </tr>
                                <tr>
                                    <td style="color:green">Low Impact</td>
                                    <td>: {{ fac_details.green }}</td>
                                </tr>
                                <tr>
                                    <td style="color:gray">No Impact</td>
                                    <td>: {{ fac_details.gray }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        
        <tr>
            <td style="text-align:center;padding-top:20px">
                {% if web is sameas false %}
                    <img src="cid:shakemap{{ shakemap.shakecast_id }}">
                {% else %}
                    <img src="/api/shakemaps/{{ shakemap.shakemap_id }}/shakemap">
                {% endif %}
            </td>
        </tr>
        
        <tr>
            <td>
                <h2 style="color:{{ config.second_head.font_color }};margin-top:20px;margin-bottom:15px;border-bottom:2px solid {{ config.second_head.border_color }};margin-left:2.5%;width:90%">Impact Estimates:</h2>
            </td>
        </tr>
        
        <tr>
            <td>
                <table style="text-align:center;border: 2px solid #444444;border-collapse:collapse;padding:5px;margin-left:5%">
                    <tr style="border: 2px solid #444444;padding: 5px;">
                    {% for head in config.table_head %}
                        {% if head.use == true %}
                            <th style="border: 2px solid #444444;padding: 5px;">{{ head.val }}</th>
                        {% endif %}
                    {% endfor %}
                    </tr>
                    
                    {% for fs in facility_shaking %}
                        <tr style="border: 2px solid #444444;padding: 5px;">
                        {% for head in config.table_head %}
                            {% if head.use == true %}
                                {% if head.name == 'name' or head.name == 'facility_id' or head.name == 'facility_type' %}
                                    <td style="border: 2px solid #444444;padding: 5px;">{{ fs.facility[head.name] }}</td>
                                {% elif head.name == 'inspection_priority' %}
                                    <td style="border: 2px solid #444444;padding: 5px;background-color:{{ fs.alert_level }}">{{ fs.alert_level }}</td>
                                {% elif head.name == 'shaking_value' %}
                                    <td style="border: 2px solid #444444;padding: 5px;">{{ fs[fs.metric.lower()] }}</td>
                                {% else %}
                                    <td style="border: 2px solid #444444;padding: 5px;">{{ fs[head.name] }}</td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
        
        <tr>
            <td>
                <h3 style="color: {{ config.footer.header_color }};font-family:Arial;margin-top:50px;margin-bottom:0px">ShakeCast Server:</h3>
            </td>
        </tr>
        
        <tr>
            <td>
                <table style="color:{{ config.footer.header_color }};margin-left:10px">
                    <tr>
                        <td>
                            <p style="margin-bottom:2px;margin-top:0px;font-size: small;font-family: Arial;">ShakeCast Web: <a href="{{ sc.server_dns }}" target="_blank">{{ sc.server_dns }}</a></p>
                            <p style="margin-bottom:2px;margin-top:0px;font-size: small;font-family: Arial;">Software: {{ sc.software_version }}</p>
                            <p style="margin-bottom:2px;margin-top:0px;font-size: small;font-family: Arial;">Reported by: {{ sc.server_name }}</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: medium;font-family: Arial;">Questions about ShakeCast?  Contact Administrator at <a href="mailto:{{ config.admin_email }}?subject=ShakeCast+V3+Inquiry" target="_blank">{{ config.admin_email }}</a>.</p> 
            </td>
        </tr>

    </table>

</{{ 'body' if web is sameas false else 'div' }}>
{% if web is sameas false %}
</html>
{% endif %}