<div class="fac-info" [@show]="show" [@enlargeInfo]='showFragilityInfo'>
    <div class="info-content" *ngIf="facility">
        <div class="header">
            <h2 class="name">{{ facility.name }}</h2>
            <p class="desc" [@shrinkDesc]='showFragilityInfo'>{{ facility.description ? facility.description : 'No Description' }}</p>
        </div>
        <div [@shrinkDesc]='showFragilityInfo'>
            <h3 class="fragility-title">Fragility</h3>
            <table class="fragility-table">
                <tr>
                    <table class="colors-table">
                        <th style="background-color:green" *ngIf="facility.green != -1">
                            {{ facility.metric }}: {{ facility.green }} 
                        </th>
                        <th style="background-color:gold" *ngIf="facility.yellow != -1">
                            {{ facility.metric }}: {{ facility.yellow }}
                        </th>
                        <th style="background-color:orange" *ngIf="facility.orange != -1">
                            {{ facility.metric }}: {{ facility.orange }}
                        </th>
                        <th style="background-color:red" *ngIf="facility.red != -1">
                            {{ facility.metric }}: {{ facility.red }}
                        </th>
                    </table>
                </tr>
            </table>
        </div>
        <div *ngIf="!facilityShaking">
            <div class="shaking-history-link"
                    (click)="showFragility(facility)"
                    [@shrinkBody]='showFragilityInfo'>
                <h1 [@shrinkBody]='showFragilityInfo'>Shaking History</h1>
                <p class="triangle">&#10092;</p>
            </div>
        </div>

        <div class="shaking-history" [@showFragility]="showFragilityInfo || _router.url == '/shakecast/dashboard'">
            <div class="eq-list" *ngIf="_router.url != '/shakecast/dashboard' && !facilityShaking">
                <earthquake-list></earthquake-list>
            </div>
            <div class="impact" *ngIf="facilityShaking">
                <h2>Impact:</h2>
                <h3 [style.backgroundColor]="facilityShaking?.alert_level" class="impact-level">{{ facilityShaking?.alert_level == 'grey' ? 'None' : (facilityShaking?.alert_level == 'green' ? 'Low' : (facilityShaking?.alert_level == 'yellow' ? 'Medium' : (facilityShaking?.alert_level == 'orange' ? 'Medium-High' : 'High')))}}</h3>
                <table class="shaking-table">
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <th>PGA</th>
                                </tr>
                                <tr>
                                    <td>{{ facilityShaking?.pga }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>PGV</th>
                                </tr>
                                <tr>
                                    <td>{{ facilityShaking?.pgv }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>PSA03</th>
                                </tr>
                                <tr>
                                    <td>{{ facilityShaking?.psa03 }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>PSA10</th>
                                </tr>
                                <tr>
                                    <td>{{ facilityShaking?.psa10 }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tr>
                                    <th>PSA30</th>
                                </tr>
                                <tr>
                                    <td>{{ facilityShaking?.psa30 }}</td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table style="border-right:none;">
                                <tr>
                                    <th>MMI</th>
                                </tr>
                                <tr>
                                    <td>{{ facilityShaking?.mmi }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="hide-container">
            <h2 class="hide button" (click)="hide()">Hide</h2>
        </div>
    </div>
</div>