<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ShakeCast</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="assets/sc_logo.png">
<link rel="stylesheet" href="styles.e95228ed3ecdaaf07d65.css"></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="runtime.dd7bf4a67278d47f5ca9.js"></script><script type="text/javascript" src="polyfills.683873ce455e266317c1.js"></script><script type="text/javascript" src="main.e963405f1ac246c7be06.js"></script></body>
</html>
