[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

h1,h2,h3,p,td,th {
            color: #444444;
            font-family: Arial;
}



.header {
            height: 72px;
            background-color: #ffffff;
            margin-top: 10px;
            margin-left: 10px;
            margin-bottom: 20px;
            width: 35%;
            min-width: 300px;
            display: inline-block;
            overflow-x: visible;
            white-space: nowrap;
            z-index:-1
        }
        
.header h1 {
            color: #444444;
            display: inline-block;
            font-size: 55px;
            position: relative;
            line-height: 30px;
            padding-top: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 0px;    
            float: left;
            top: 50%;
            transform: translateY(-50%);
        }
        
.rounded_sc {
            border-radius: 50%;
            display: inline-block;
            position: relative;
            float: left;
        }
        
.eqs {
            display: block;
            position: relative;
            top: 50px;
        }
        
.view.ng-enter{
  opacity: 0;
}

.view.ng-enter.ng-enter-active{
  opacity: 1;
}

.view.ng-leave{
  opacity: 1;
}

.view.ng-leave.ng-leave-active{
  opacity: 0;
}

.nav-container {
            display: inline-block;
            width: 60%;
}

.navbar {
            width: 100%;
            float: right;
            left: 0px;
            background: #ffffff;
            overflow: visible;
}

.navbar ul {
    list-style: none;
    position: relative;
    text-align: center;
    float: left;
    overflow: visible;
}

.navbar ul li {
    float: left;
    display: inline-block;
    overflow: visible;
}

.navbar .in-app, .navbar .admin {
                margin-right: 10px;
}

.navbar .logout {
            float: right;
}

.navbar .logout p {
            display: inline-block;
}

.navbar.locked-navbar {
            width: 100%;
            padding-top: 10px;
}

.locked-navbar ul {
            width: 100%;
}

.locked-navbar li {
            margin-left: 20px;
}

.nav-link { 
            white-space: nowrap;
}

.sc-nav img {
            height:40px;
            top:5px;
            display: none;
}

.fix-to-top {
    position: fixed;
    top: 0;
}

/* Classes for title of individual pages */
.page-title {
            text-align: center;
            z-index: -1;
}

.page-title h2 {
            border-bottom: 1px solid #444444;
            padding-bottom: 3px;
            width: 33%;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            overflow: visible;
            white-space: nowrap;
            min-width: 400px;
            z-index: -1;
            color:#444444;
}

.page-title p {
            color:#444444;
}

/*
.dropzone {
            width: 300px;
            height: 300px;
            border: 2px dashed #ccc;
            line-height: 300px;
            text-align: center;
}

.dropzone.dragover {
            border-color: #000;
            color: #000;
}
*/

/* ADMIN APP */
.notifcation-container td, th {
            text-align: center;
}

/*////////// Upload Page ////////////*/
.upload-container {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            height: 500px;
}

.dropzone {
            border: 2px dashed #aaaaaa;
            border-radius: 5px;
            height: 40%;
            margin-top: 40px;
}

.dropzone h2 {
            color: #aaaaaa;
            transform: translateY(-50%);
}

.dropzone .dz-message {
            margin: 0px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
}

