.header {
            height: 72px;
            background-color: #ffffff;
            margin-left: 10px;
            margin-bottom: 20px;
            width: 35%;
            min-width: 300px;
            display: inline-block;
        }
        
.header h1 {
            color: #444444;
            display: inline-block;
            font-size: 55px;
            position: relative;
            line-height: 30px;
            padding-top: 10px;
            margin-left: 10px;
            margin-top: 0px;
            margin-bottom: 0px;    
            float: left;
            top: 50%;
            transform: translateY(-50%);
            font-family: Arial
        }
        
.rounded_sc {
            border-radius: 50%;
            display: inline-block;
            position: relative;
            float: left;
        }
        
.eqs {
            display: block;
            position: relative;
            top: 50px;
        }
        
.view.ng-enter{
  opacity: 0;
}

.view.ng-enter.ng-enter-active{
  opacity: 1;
}

.view.ng-leave{
  opacity: 1;
}

.view.ng-leave.ng-leave-active{
  opacity: 0;
}

.nav-container {
            display: inline-block;
            width: 60%;
}

.navbar {
            width: 100%;
            float: right;
            left: 0px;
            background: #ffffff;
            overflow: visible;
}

.navbar ul {
    list-style: none;
    position: relative;
    text-align: center;
    float: left;
    overflow: visible;
}

.navbar ul li {
    float: left;
    display: inline-block;
    overflow: visible;
}

.navbar .in-app, .navbar .admin {
                margin-right: 10px;
}

.navbar .logout {
            float: right;
}

.navbar .logout p {
            display: inline-block;
}

.navbar.locked-navbar {
            width: 100%;
            padding-top: 10px;
}

.locked-navbar ul {
            width: 100%;
}

.locked-navbar li {
            margin-left: 20px;
}

.nav-link { 
            white-space: nowrap;
}

.sc-nav img {
            height:40px;
            top:5px;
            display: none;
}

.fix-to-top {
    position: fixed;
    top: 0;
}

/*
.dropzone {
            width: 300px;
            height: 300px;
            border: 2px dashed #ccc;
            line-height: 300px;
            text-align: center;
}

.dropzone.dragover {
            border-color: #000;
            color: #000;
}
*/

.upload-container {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
}

