<div class="outer-container">
    <div class="eqs-container" stickToTop>
        <div *ngIf="!loadingData">
            <div *ngIf="facilityData.length > 0">
                <div class="eq" 
                        [@selected]="fac.selected" 
                        *ngFor="let fac of facilityData" 
                        (click)="clickFac(fac)">
                    <div [@headerSelected]="fac.selected" class="eq-header" [style.border]="'5px solid ' + fac?.shaking?.alert_level">
                        <h3>{{fac.name}}</h3>
                    </div>
                    <div class="eq-body">
                        <div class="info-container">
                            <p>{{ fac.description }}</p>
                            <table>
                                <tr>
                                    <th>Type: </th><td><p>{{ fac.facility_type }}</p></td>
                                </tr>
                                <tr>
                                    <th>Location: </th><td><p>{{ (fac.lat_max + fac.lat_min) / 2 }}, {{ (fac.lon_max + fac.lon_min) / 2 }}</p></td>
                                </tr>
                            </table>
                            <p (click)="facService.showFacInfo(fac, $event)">Fagility</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="facilityData.length == 0">
                <h1 class="no-facs">No Facilities</h1>
            </div>
        </div>
        <div *ngIf="loadingData">
            <p><loading></loading></p>
        </div>
    </div>
</div>