<div class="outer-container">
    <div class="select-options">
        <p>Select Mode</p>
    </div>
    <div class="eqs-container" stickToTop [@pulledRight]="pulledRight">
        <div class="eq" *ngFor="let fac of facilityData" (click)="plotFac(fac)">
            <div class="eq-header">
                <h3>{{fac.name}}</h3>
            </div>
            <div class="eq-body">
                <div class="info-container">
                    <table>
                        <tr>
                            <th>Desc: </th><td><p>{{fac.description}}</p></td>
                        </tr>
                        <tr>
                            <th>Location: </th><td><p>{{ (fac.lat_max + fac.lat_min) / 2 }}, {{ (fac.lon_max + fac.lon_min) / 2 }}</p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>