<div *ngIf="notService.notifications | async as notifications">
  <h3>New Event:</h3>
  <ng-container *ngFor="let not of notifications">
    <p *ngIf="not.notificationType=='NEW_EVENT'">
      {{ not.group }}:{{ not.status }}
    </p>
  </ng-container>
  <h3>Inspection:</h3>
  <ng-container *ngFor="let not of notifications">
    <p *ngIf="not.notificationType=='DAMAGE'">
      {{ not.group }}:{{ not.status }}
      <span *ngIf="not.error" class="error">
        Error: {{ not.error }}
      </span>
    </p>
  </ng-container>
</div>
