<div class="form-container">
    <input type="checkbox" [(ngModel)]="filter.shakemap">
    <label>Events with ShakeMaps</label>
    <div *ngIf="filter?.shakemap">
        <input type="checkbox" [(ngModel)]="filter.facilities">
        <label>Events with affected facilities</label>
    </div>

    <br>
    <input type="radio" 
            name="timeframe" 
            [(ngModel)]="filter.timeframe" 
            value="day">
    <label>Day</label>
    <input type="radio" 
            name="timeframe" 
            [(ngModel)]="filter.timeframe" 
            value="week">
    <label>Week</label>
    <input type="radio" 
            name="timeframe" 
            [(ngModel)]="filter.timeframe" 
            value="month">
    <label>Month</label>
    <input type="radio" 
            name="timeframe" 
            [(ngModel)]="filter.timeframe" 
            value="all">
    <label>All time</label>

    <div class="input-container">
        <input [(ngModel)]="filter.latMin" placeholder="Min Latitude">
        <input [(ngModel)]="filter.latMax" placeholder="Max Latitude">
        <input [(ngModel)]="filter.lonMin" placeholder="Min Longitude">
        <input [(ngModel)]="filter.lonMax" placeholder="Max Longitude">
    </div>

    <h2 class="button" (click)="search()">Search</h2>
</div>