<div class="data-list-inner-container">
    <div class="data-list">

        <ng-container *ngIf="eqService.earthquakeData | async as eqData;
                                else noData">
                <div class="data"
                    *ngFor="let eq of eqData.features" (click)="plotEq(eq)"
                    [@selected]="eq === eqService.selected">
                  <ng-container *ngIf="eq.properties as props">
                    <div class="data-header" [@headerSelected]="eq === eqService.selected">
                        <h3>{{eq.properties.event_id}}</h3>
                    </div>
                    <div class="data-body">
                        <div class="data-info-container">
                            <table>
                                <tr>
                                    <th>Magnitude: </th><td><p>{{props.magnitude}}</p></td>
                                </tr>
                                <tr>
                                    <th>Location: </th><td><p>{{props.lat}}, {{props.lon}}</p></td>
                                </tr>
                                <tr>
                                    <th>Time: </th><td>{{ props.time * 1000 | date:'HH:mm - d/M/y' }}</td>
                                </tr>
                            </table>
                            <p class="place">{{props.place}}</p>
                        </div>
                    </div>
                  </ng-container>
                </div>
        </ng-container>

        <ng-template #noData>
            <h1 class="data-list-no-data">No Earthquake Data</h1>
        </ng-template>

    </div>
</div>