.data-list-outer-container {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: visible;
}

.data-list-inner-container {
    overflow: scroll;
}

.data-list {
    height: 100%;
    width: 100%;
}

.data {
    margin-top: 20px;
    background: #fff;
    width: 20%;
    min-width: 280px;
    display: inline-block;
    min-height: 200px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px; 
    border-radius: 5px;
    border-style: solid;
    border-color:#aaaaaa;
    vertical-align: top;
    cursor: pointer;
    transform: translateX(0%) translateY(0%);
    transition: transform .1s ease-in-out;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.3);
}


.data.selected {
    margin-top: 10px;
    box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.4);
    -webkit-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.4);
}

.data-list-no-data {
    color: white;
    text-align: center;
    width: 100%;
    text-align: center;
}

.data-list-no-data-container {
    height: 100%;
    display: flex;
    align-items: center;
}

/* header */
.data-header {
    min-height: 40px;
    border-radius: 4px;
    background-color: #aaaaaa;
    overflow-x: scroll;
}

.data:hover .data-header {
    background-color: #cccccc
}

.data-header h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    padding: 5px;
}

/* body */
.data-info-container {
    margin: 5px;
    text-align: center;
    overflow: scroll;
}

.data p {
    white-space: normal;
    text-align: center;
}

.data th, .data td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

.data td p {
    padding: 0px;
    margin: 0px;
}

.data table {
    width: 95%;
}

.data .container-table {
    margin-bottom: 20px;
}

.updated {
    position: absolute;
    bottom: 0;
}
.updated p {
    font-size: 10px;
    display: inline-block;
    margin-left: 5px;
}

.data .delete {
    float: right;
}