<div class="header" [@scrollChange]="scrollUp" (mouseover)="setHover(true)" (mouseleave)="setHover(false)">
    <div class="nav-bar">
        <a routerLink="/shakecast/dashboard">Dashboard</a>
        <a routerLink="/shakecast/earthquakes">Earthquakes</a>
        <a routerLink="/shakecast-admin">Admin Panel</a>
        <a (click)="logout()">Logout</a>
    </div>
    <div class="cont">
        <img class="sc-logo" src="/images/sc_logo.png">
        <p>ShakeCast</p>
    </div>
</div>
<div class="header-space"></div>