<html ng-app="SC-admin">
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ url_for('static', filename='js/angular/dropzone-4.3.0/dist/dropzone.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='js/angular/dropzone-4.3.0/dist/basic.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <link href="{{ url_for('static', filename='js/angular/jquery-ui/jquery-ui.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
        
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/angular/jquery-ui/jquery-ui.js') }}"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
        
        <title>ShakeCast</title>
    </head>
    <body ng-controller="adminController" ng-cloak>
        <div class="header">
            <img src="{{ url_for('static', filename='sc_logo.png') }}" class="rounded_sc">
            <h1>ShakeCast</h1>
        </div>
        
        <div class="nav-container">
            <div class="navbar" ng-controller="navController" top-lock="fix-to-top" padding-top="0" div-name="navbar">
                <ul class='nav-list'>
                    
                    <li class="sc-nav">
                        <img src="{{ url_for('static', filename='sc_logo.png') }}" class="rounded_sc" style="">
                    </li>
                    
                    <li ng-repeat="link in nav_links" ng-class="navClass('{[ link.title ]}')" class="nav-link in-app">
                        <a href="#{[ link.title ]}" id='{[ link.title ]}'>{[ link.text ]}</a>
                    </li>
                    <li class="nav-link in-app">
                        <a href="/" >Back Home</a>
                    </li>
                    <li class="nav-link logout">
                        <p>Welcome {{ current_user.username }} | </p>
                        <a href="logout" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        
        
        <div ng-show="loading">
            <p>Loading...</p>
        </div>
        
        <div id="main" class="main">
            <div ng-view class="view"></div>
        </div>

        <!-- Modules -->
        <script src="{{ url_for('static', filename='js/modules/admin.js') }}"></script>

        <!-- Controllers -->
        <script src="{{ url_for('static', filename='js/controllers/admin/adminController.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/admin/navController.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/admin/inventoryController.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/admin/userController.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/admin/groupController.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/admin/eqController.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/admin/uploadController.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/admin/settingsController.js') }}"></script>
        <script src="{{ url_for('static', filename='js/controllers/admin/notController.js') }}"></script>
        
        <!-- Directives -->
        <script src="{{ url_for('static', filename='js/directives/topLockDirective.js') }}"></script>
        
        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        <!-- Leaflet Maps -->
        <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
        <script src="{{ url_for('static', filename='js/angular/angular-leaflet-directive.js') }}"></script>
        
        <!-- Dropzone -->
        <script src="{{ url_for('static', filename='js/angular/dropzone-4.3.0/dist/dropzone.js') }}"></script>
        <script src="{{ url_for('static', filename='js/directives/admin/dropzoneDirective.js') }}"></script>
        
        
    </body>
</html>