<div class="page-title">
    <h2>Earthquakes</h2>
    <p>Map view of earthquakes and the facilities effected by them</p>
</div>

<div class="div-container">
    <div class="leaf-container" top-lock="fix-to-top" padding-top="50">
        <leaflet id="map" style="width:100%;height:100%" lf-center="eqCenter" defaults="defaults" markers="markers" layers="layers"></leaflet>
    </div>
</div>

<label for="timeframe">Timeframe: </label>

<label><input type="radio" name="timeframe" ng-model="filter.timeframe" ng-value="''">None</label><br>
<label><input type="radio" name="timeframe" ng-model="filter.timeframe" ng-value="'day'">Last Day</label><br>
<label><input type="radio" name="timeframe" ng-model="filter.timeframe" ng-value="'week'">Last Week</label><br>
<label><input type="radio" name="timeframe" ng-model="filter.timeframe" ng-value="'month'">Last Month</label><br>
<label><input type="radio" name="timeframe" ng-model="filter.timeframe" ng-value="'year'">Last Year</label><br>

<label for="all_events">Show: </label>
<label><input type="radio" name="all_events" ng-model="filter.all_events" ng-value="true">All Events</label>
<label><input type="radio" name="all_events" ng-model="filter.all_events" ng-value="false">Events with Shakemaps</label><br>

<label for="group">Groups Affected: </label><input id="group" class="group" ng-model="filter.group"/>

<label for="lat_max">Max Latitude: </label><input id="lat_max" class="lat" ng-model="filter.lat_max"/>
<label for="lat_min">Min Latitude: </label><input id="lat_min" class="lat" ng-model="filter.lat_min"/>
<br>
<label for="lon_max">Max Longitude: </label><input id="lon_max" class="lon" ng-model="filter.lon_max"/>
<label for="lon_min">Min Longitude: </label><input id="lon_min" class="lon" ng-model="filter.lon_min"/>
<br>
<button class="button" ng-click="getEQsFilter()">Go</button>
<button class="button" ng-click="clearFilter()">Clear</button>

<table class="eq-table table table-hover">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Magnitude</th>
            <th>Time</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="eq" ng-click="loadEQ($index)" ng-repeat="eq in eq_data">
            <td>{[ $index + 1 ]}</td>
            <td>{[ eq['event_id'] ]}</td>
            <td>{[ eq['magnitude'] ]}</td>
            <td>{[ eq['time'] * 1000 | date : "short" ]}</td>
            <td>{[ eq['place'] ]}</td>
        </tr>
    </tbody>
</table>

<h2 ng-click="getEQs()" class="load-more">LOAD MORE</h2>