<div class="page-title">
    <h2>Inventory</h2>
    <p>View your organization's facilities</p>
</div>


<div class="div-container">
    <div class='map-and-info-container' top-lock="fix-to-top" padding-top="50">
        <div class="leaf-container inventory">
            <leaflet class="leaflet" style="width:100%;height:100%" center="facCenter" defaults="defaults" markers="markers"></leaflet>
        </div>
        <div class="fac-info">
            <div class="fac-details">
                <h1>{[ cur_fac.name ]}</h1>
                <p class="fac-desc">{[ cur_fac.description ? cur_fac.description : 'No Description' ]}</p>
            </div>
            <div class="fragility-table">
                <h2>Fragility</h2>
                <table class='table'>
                    <tr>
                        <th>
                            Potential Impact
                        </th>
                        <th>
                            Alhpa
                        </th>
                        <th>
                            Beta
                        </th>
                    </tr>
                    <tr>
                        <td style="color:grey">Grey</td>
                        <td>{[ cur_fac.grey != -1 ? cur_fac.grey : 'None' ]}</td>
                        <td>{[ cur_fac.grey_beta != -1 ? cur_fac.grey_beta : 'None' ]}</td>
                    </tr>
                    <tr>
                        <td style="color:green">Green</td>
                        <td>{[ cur_fac.green != -1 ? cur_fac.green : 'None' ]}</td>
                        <td>{[ cur_fac.green_beta != -1 ? cur_fac.green_beta : 'None' ]}</td>
                    </tr>
                    <tr>
                        <td style="color:gold">Yellow</td>
                        <td>{[ cur_fac.yellow != -1 ? cur_fac.yellow : 'None' ]}</td>
                        <td>{[ cur_fac.yellow_beta != -1 ? cur_fac.yellow_beta : 'None' ]}</td>
                    </tr>
                    <tr>
                        <td style="color:orange">Orange</td>
                        <td>{[ cur_fac.orange != -1 ? cur_fac.orange : 'None' ]}</td>
                        <td>{[ cur_fac.orange_beta != -1 ? cur_fac.orange_beta : 'None' ]}</td>
                    </tr>
                    <tr>
                        <td style="color:red">Red</td>
                        <td>{[ cur_fac.red != -1 ? cur_fac.red : 'None' ]}</td>
                        <td>{[ cur_fac.red_beta != -1 ? cur_fac.red_beta : 'None' ]}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<table class="fac-table table table-hover">
    <thead>
        <tr>
            <th>
                <div class="filter-button" ng-click="showFilter = !showFilter; use_filter=true">
                    Filter <span class="glyphicon glyphicon-filter"></span>
                </div>
            </th>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr>
            <td colspan="4" class='filter' ng-show="showFilter">
                <form action="">
                    <label for="group">Group: </label><input id="group" class="group" ng-model="filter.group"/>
                    <label for="lat">Latitude: </label><input id="lat" class="lat" ng-model="filter.lat"/>
                    <label for="lat-pm">+-</label><input id="lat-pm" class="lat-pm" ng-model="filter.lat_pm"/>
                    <label for="lon">Longitude</label><input id="lon" class="lon" ng-model="filter.lon"/>
                    <label for="lon-pm">+-</label><input id="lon-pm" class="lon-pm" ng-model="filter.lon_pm"/>
                    <button class="button" ng-click="getFacsFilter(lastID=0, filter=filter)">Go</button>
                    
                    <button class="button" ng-click="clearFilter()">Clear</button>
                </form>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr class="fac" ng-click="loadFac($index)" ng-repeat="fac in fac_data">
            <td></td>
            <td>{[ fac['facility_id'] ]}</td>
            <td>{[ fac['name'] ]}</td>
            <td>{[ fac['description'] ]}</td>
        </tr>
    </tbody>
</table>

<h2 ng-click="getFacs(index=lastID, filter=filter)" class="more-facilities">LOAD MORE</h2>