<div class="page-title">
    <h2>Notification Personalization</h2>
    <p>An interface to personalize your ShakeCast notifications</p>
</div>

    <div class="notification-container" ng-include="template.url"></div>
    
    <div class="options-container">
        <div class="options" top-lock="fix-to-top" padding-top="25">
            <div class="option-container">
                <label for="group-name">Group Name: </label>
                <select name="group-name" ng-model="group" ng-options="t.name for t in templates">
                    <option value="">None</option>
                </select>
            </div>
            
            <div class="option-container">
                <label for="notification_type">Notification Type: </label>
                <select name="group-name" ng-model="template" ng-options="t.name for t in templates">
                    <option value="">None</option>
                </select>
            </div>
            
            <button class="btn">EDIT</button>
            
        </div>
    
    </div>
