<div class="page-title">
    <h2>Upload</h2>
    <p>Drag and drop facility, notification group, or user XML files to upload them to ShakeCast</p>
</div>

<!--
<form action="upload" method="post" enctype="multipart/form-data">
    <div class="uploads"></div>
        <div class="dropzone" id="dropzone" style="width:200px;height:200px;border-width:2px" type="file" name="file">
            <h1>Upload a File</h1>
        </div>
        <input type="file" name="file">
        <input type="submit" value="Upload">
</form>
-->

<div class="upload-container">
    <form action="/file-upload"
          class="dropzone"
          id="my-awesome-dropzone"
          dropzone="dropzoneConfig">
        <div class="dz-message" data-dz-message><span><h2>Drop files here</h2></span></div>
    </form>
</div>