<div class="page-title">
    <h2>Users</h2>
    <p>Checkout all your ShakeCast users and when they receive notifications</p>
</div>

<div class="div-container">
    <div class="map-and-info-container" top-lock="fix-to-top" padding-top="50">
        <div class="leaf-container inventory">
            <leaflet style="width:100%;height:100%" center="center" defaults="defaults" geojson="geojson"></leaflet>
        </div>
        <div class="fac-info">
            <div class="fac-details" ng-click="loadGroup($index)">
                <h1>{[ cur_group.name ]}</h1>
                <p>Facility Types: {[ cur_group.facility_type ]}</p>
                <h2>Notifications for:</h2>
                <div ng-if="cur_group.specs.heartbeat.length > 0">
                    <p>Heartbeat</p>
                </div>
                <div ng-if="cur_group.specs.new_event.length > 0">
                    <h3>New Events: Magnitudes > {[ cur_group.specs.new_event[0].minimum_magnitude ]}</h3>
                </div>
                <div ng-if="cur_group.specs.inspection.length > 0">
                    <h3>Potential Impact:</h3>
                    <p ng-repeat='spec in cur_group.specs.inspection'>{[ spec.inspection_priority ]}: Magnitudes > {[ spec.minimum_magnitude ]}</p>
                </div>
                <div ng-if="cur_group.specs.scenario_new_event.length > 0 || cur_group.specs.scenario_inspection.length > 0 ">
                    <h3>Scenarios:</h3>
                    <div ng-if="cur_group.specs.scenario_new_event.length > 0">
                        <h3>New Events: Magnitudes > {[ cur_group.specs.scenario_new_event[0].minimum_magnitude ]}</h3>
                    </div>
                    <div ng-if="cur_group.specs.scenario_inspection.length > 0">
                        <h3>Potential Impact:</h3>
                        <p ng-repeat='spec in cur_group.specs.scenario_inspection'>{[ spec.inspection_priority ]}: Magnitudes > {[ spec.minimum_magnitude ]}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr class="user" ng-repeat="user in user_data" ng-click="loadUser($index)">
            <td>{[ user['full_name'] ]}</td>
            <td>{[ user['username'] ]}</td>
            <td>{[ user['email'] ]}</td>
        </tr>
    </tbody>
</table>


<h2 ng-click="getUsers(index=lastID, filter=filter)" class="load-more">LOAD MORE</h2>
