<div class="page-title">
    <h2>Users</h2>
    <p>Checkout all your ShakeCast users and when they receive notifications</p>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr class="user" ng-repeat="user in user_data">
            <td>{[ user['full_name'] ]}</td>
            <td>{[ user['username'] ]}</td>
            <td>{[ user['email'] ]}</td>
        </tr>
    </tbody>
</table>


<h2 ng-click="getUsers(index=lastID, filter=filter)" class="more-facilities">LOAD MORE</h2>
