<div class="settings">
    <div class="server">
        <label for="server-name">Server Name: </label><input id="server-name" 
                                                                placeholder="ShakeCast" 
                                                                [(ngModel)]="configs.Server.name">
    </div>
    <div class="timezone">
        <h3 class="settings-header">ShakeCast Clock</h3>
        <div class="settings-entries">
            <table>
                <tr>
                    <th>UTC time</th>
                    <td>{{ utcTime | date:'dd-M-yyyy H:mm'}}</td>
                </tr>
                <tr>
                    <th>ShakeCast Time</th>
                    <td>{{ offsetTime | date:'dd-M-yyyy H:mm'}}</td>
                    <table class="spin-table">
                        <tr class="button spin" (click)="hourUp()"><th>&#9650;</th></tr>
                        <tr class="button spin" (click)="hourDown()"><th>&#x25bc;</th></tr>
                    </table>
                </tr>
                <tr>
                    <th>Nighttime</th>
                    <td>{{ configs.Services.nighttime }}:00</td>
                    <table class="spin-table">
                        <tr class="button spin" 
                            (click)="nighttimeUp()"><th>&#9650;</th></tr>
                        <tr class="button spin" 
                            (click)="nighttimeDown()"><th>&#x25bc;</th></tr>
                    </table>
                </tr>
                <tr>
                    <th>Morning</th>
                    <td>{{ configs.Services.morning }}:00</td>
                    <table class="spin-table">
                        <tr class="button spin" 
                            (click)="morningUp()"><th>&#9650;</th></tr>
                        <tr class="button spin" 
                            (click)="morningDown()"><th>&#x25bc;</th></tr>
                    </table>
                </tr>
            </table>
        </div>
    </div>

    <div class="smtp">
        <h3 class="settings-header">SMTP Server</h3>
        <div class="settings-entries">
            <input placeholder="Username" type="text" [(ngModel)]="configs.SMTP.username">
            <input placeholder="Password" type="password" [(ngModel)]="configs.SMTP.password">
            <input placeholder="Server" type="text" [(ngModel)]="configs.SMTP.server">
        </div>
    </div>

    <div class="Proxy">
        <h3 class="settings-header">Proxy Setup</h3>
        <div class="settings-entries">
            <label for="proxy">Use a proxy: </label><input type="checkbox" 
                                                            id="proxy" 
                                                            [(ngModel)]="configs.Proxy.use">

            <div *ngIf="configs.Proxy.use">
                <input placeholder="Username" type="text" [(ngModel)]="configs.Proxy.username">
                <input placeholder="Password" type="password" [(ngModel)]="configs.Proxy.password">
                <input placeholder="Server" type="text" [(ngModel)]="configs.Proxy.server">
            </div>
        </div>
    </div>
</div>

<h1 class="button save" (click)="saveConfigs()">SAVE</h1>
<h1 class="button reset" (click)="resetConfigs()">RESET</h1>

