.settings {
    margin-left: 5px;
}

.settings-entries {
    margin-left: 15px;
}

.button {
    cursor: pointer;
}

.spin-table td, .spin-table tr {
    border-width: 0px;
}

.save, .reset {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}