<div class="left-panel" [@showLeft]="showLeft">
    <div class="toggle">
        <div class="toggle-click" (click)="toggleLeft()">
            <span class="arrow-icon" [hidden]="showLeft=='shown'"><i class="fa fa-chevron-right"></i></span>
            <span class="arrow-icon" [hidden]="showLeft=='hidden'"><i class="fa fa-chevron-left"></i></span>
        </div>
    </div>
    <div class="panel-content">
        <h1 class="panel-title">{{ title }}</h1>

        <ng-content>
        </ng-content>
        
    </div>
</div>