<html>
<head>
</head>

<table style="font-family:Arial, Helvetica, sans-serif"
        width=700 border=1 bordercolor={{ config.table.border_color }}
        cellpadding=15 cellspacing=0 bgcolor={{ config.body_color }}>

    <tr>
        <td>
            {% if not config['header'] %}
            <table>
                <tr>
                    <td>
                        {% if web is sameas false %}
                        <img alt="ShakeCast Logo"
                                style="border-radius:50%;max-height:70px;max-width:70px;display:inline-block"
                                src="cid:sc_logo_{{ notification.shakecast_id }}">
                        {% else %}
                        <img alt="ShakeCast Logo"
                                style="display:inline-block;border-radius:50%;max-height:70px;max-width:70px;"
                                src="assets/{{ config.logo }}">
                        {% endif %}
                    </td>

                    <td>
                        <h1>{{ config.head_text }}</h1>
                    </td>
                </tr>
            </table>

            {% else %}

                {% if web is sameas false %}
                <img alt="ShakeCast header" height=60 width=700 src="cid:header">
                {% else %}
                <img alt="ShakeCast header" height=60 width=700 src="assets/{{ config.header }}">
                {% endif %}
            {% endif %}
        </td>
    </tr>
    
    <tr>
        <td height=30 bgcolor={{ config.section_head.back_color }}>
            <font size=3 face="Arial">
                <b style="color:{{ config.section_head.font_color }};">Preliminary Earthquake Notification</b>
            </font>
        </td>
    </tr>

    <tr>
        <td style="color:{{ config.intro.font_color }};background-color:{{ config.intro.back_color }}">
            <font size=2 face="Arial">
                {{ config['intro']['text'] }}
                An interactive version of this 
                report is accessible on the <a href="http://{{ sc.dict['Server']['DNS'] }}">ShakeCast internet/intranet website</a>.  
            </font>
        <br>
        </td>
    </tr>
    
    <tr>
        <td height=30 bgcolor={{ config.section_head.back_color }}>
            <font size=3 face="Arial">
                <b style="color:{{ config.section_head.font_color }};">Earthquake Details</b>
            </font> 
        </td>
    </tr>
    
    {% if events[0].shakemaps|length > 0 %}
    <tr>
        <td style="text-align:center;padding-top:20px">
            {% if web is sameas false %}
            <img width="612"
                    alt="Shakemap Image"
                    src="cid:shakemap{{ events[0].shakemaps[-1].shakecast_id }}">
            {% else %}
            <img width="612"
                    alt="Shakemap Image"
                    src="api/shakemaps/{{ events[0].shakemaps[-1].shakemap_id }}/shakemap">
            {% endif %}
            
            <br>

            <b>Event ID:</b>
            <a target="_blank"
                href="https://earthquake.usgs.gov/earthquakes/eventpage/{{ events[0].event_id }}">
                {{ events[0].event_id }}
            </a>,
            <b>Time:</b> {{ events[0].timestamp() }},
            <b>Magnitude:</b> {{ events[0].magnitude }},
            <br>
            <b>Location:</b> {{ events[0].lat }}, {{ events[0].lon }},
            <b>Description:</b> {{ events[0].place }}
        </td>
    </tr>
    {% endif %}
    

    {% if events|length > 1 or events[0].shakemaps|length == 0 %}
    <br>
    <tr>
        <td>
            <table border=1 bordercolor=black cellpadding=5 cellspacing=0>
                <font size=2 face="Arial">
                    <tr>
                        <th>Map</th>
                        <th>Event ID</th>
                        <th>Time</th>
                        <th>Mag</th>
                        <th>Lat</th>
                        <th>Lon</th>
                        <th>Location</th>
                    </tr>
                    {% for event in events %}
                    <tr>
                        <td>
                            <img alt="Epicenter map is not available at this time"
                                    src="{{'https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/pin-s+F00({0},{1})/{0},{1},5/200x200?access_token={2}'.format(event.lon,
                                    event.lat,
                                    sc.map_key)}}">
                        </td>
                        <td>
                            <a target="_blank"
                                href="https://earthquake.usgs.gov/earthquakes/eventpage/{{ event.event_id }}">
                                {{ event.event_id }}
                            </a>
                        </td>
                        <td>{{ event.timestamp() }}</td>
                        <td>{{ event.magnitude }}</td>
                        <td>{{ event.lat }}</td>
                        <td>{{ event.lon }}</td>
                        <td style="word-wrap: break-word">{{ event.place }}</td>
                    </tr>
                    {% endfor %}
                </font>
            </table>
        </td>
    </tr>
    {% endif %}

    <tr>
        <td height=30 bgcolor={{ config.section_head.back_color }}>
            <font size=2 face="Arial">
                <b style="color:{{ config.section_head.font_color }};">ShakeCast Server</b>
            </font>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <font size=2 face="Arial">
                            ShakeCast Web: <b><a href="http://{{ sc.dict['Server']['DNS'] }}">{{ sc.dict['Server']['DNS'] }}</a></b><br>
                            Software:  <b>ShakeCast V4</b><br>
                            Reported by: <b>Server ID {{ sc.dict['Server']['name'] }}</b><br>
                            Notification Group: 
                            <b>
                                {% if notification %} {{ notification.group.name or 'None' }} {% endif %}
                            </b>
                            <br>
                            Template:  <b>{{ template_name or 'default' }}</b><br>
                            <br><br>
                            Questions about ShakeCast?  Contact Administrator at <a href="mailto:{{ config.admin_email }}?subject=ShakeCast+Inquiry" target="_blank">{{ config.admin_email }}</a>.
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</html>
