.title {
    display: inline-block;
    font-size: 72px;
    position: fixed;
    top: 0;
    left: 5%;
    margin-top: 20px;
    color: #46a;
    z-index: 1;
}

img {
    height: 50px;
    display: inline-block;
}