<html>
<head>
</head>

<table style="font-family:Arial, Helvetica, sans-serif"
        width=700 border=1 bordercolor={{ config.table.border_color }}
        cellpadding=15 cellspacing=0 bgcolor={{ config.body_color }}>

    <tr>
        <td>
            {% if not config['header'] %}
            <table>
                <tr>
                    <td>
                        {% if web is sameas false %}
                        <img alt="ShakeCast Logo"
                                style="border-radius:50%;max-height:70px;max-width:70px;display:inline-block"
                                src="cid:sc_logo_{{ notification.shakecast_id }}">
                        {% else %}
                        <img alt="ShakeCast Logo"
                                style="display:inline-block;border-radius:50%;max-height:70px;max-width:70px;"
                                src="assets/{{ config.logo }}">
                        {% endif %}
                    </td>

                    <td>
                        <h1>{{ config.head_text }}</h1>
                    </td>
                </tr>
            </table>

            {% else %}

                {% if web is sameas false %}
                <img alt="ShakeCast header" height=60 width=700 src="cid:header">
                {% else %}
                <img alt="ShakeCast header" height=60 width=700 src="assets/{{ config.header }}">
                {% endif %}
            {% endif %}
        </td>
    </tr>
    
    <tr>
        <td bgcolor={{ config.section_head.background_color }}>
            <font size=3 face="Arial">
                <b style="color:{{ config.section_head.font_color }};">Potential Impacts: {% if notification %} {{ notification.group.facility_type or 'None' }} {% endif %}</b>
            </font>
        </td>
    </tr>
    
    <tr>
        <td style="background-color: {{ config.intro.background_color }}; color: {{ config.intro.font_color }}">
            <font size=2 face="Arial">
                {{ config.intro.text }}
            </font>
        </td>
    </tr>
    
    <tr>
        <td bgcolor={{ config.section_head.background_color }}>
            <font size=3 face="Arial">
                <b style="color:{{ config.section_head.font_color }};">Earthquake Details</b>
            </font>
        </td>
    </tr>
    
    <tr>
        <td style="text-align:center">
            {% if web is sameas false %}
            <img alt="ShakeMap Intensity Image" width="612" src="cid:shakemap{{ shakemap.shakecast_id }}">
            {% else %}
            <img alt="ShakeMap Intensity Image" width="612" src="api/shakemaps/{{ shakemap.shakemap_id }}/shakemap">
            {% endif %}

        <br>
        <font size=2>
            <b>Magnitude:</b>  {{ shakemap.event.magnitude }},
            <b>ShakeMap ID:</b> 
            <a target="_blank"
                    href="https://earthquake.usgs.gov/earthquakes/eventpage/{{ shakemap.event.event_id }}">
                {{ shakemap.shakemap_id }}-{{ shakemap.shakemap_version }}
            </a>,
            <b>Location:</b> {{ shakemap.event.place }},
            <br>
            <b>Latitude-Longitude:</b> {{ shakemap.event.lat }}, {{ shakemap.event.lon }},
            <b>Local Time:</b> {{ shakemap.event.timestamp() }}
        </font>
        <br>
        </td>
    </tr>
    
    
    
    <tr>
        <td bgcolor={{ config.section_head.background_color }}>
            <font size=3 face="Arial">
                <b style="color:{{ config.section_head.font_color }};">
                    Summary of Potential Impacts: {% if notification %} {{ notification.group.facility_type or 'None' }} {% endif %}
                </b>
            </font>
        </td>
    </tr>
    
    <tr>
        <td>
            <font size=2 face="Arial">

                {% if config['summary'] and config.summary.max_metric == 'psa10' %}
                Maximum PSA (1.0): <b>{{ fac_details.max_psa10 }} %g</b>
                {% elif config['summary'] and config.summary.max_metric == 'pga' %}
                Maximum PGA: <b>{{ fac_details.max_pga }} %g</b>
                {% elif fac_details.max_mmi %}
                Maximum MMI: <b>{{ fac_details.max_mmi }}</b>
                {% else %}
                Maxiumum Shaking: <b>None</b>
                {% endif %}

                <br>
                Total number of facilities analyzed: <b>{{ fac_details.all }}</b>
                <br>
                Summary by impact rank:
            </font>
        <br>
        <br>

        <table border=0 bordercolor=#F0F0F0 cellpadding=3 cellspacing=0 bgcolor=#F0F0F0>
            <tr>
                <td width=110 align="center" bgcolor="red"><font size=2 face="Arial"><b>High</b></font>
                <td width=70 align="center"><font size=2 face="Arial"><b>{{ fac_details.red }}</b></font>
                <td width=500><font size=2 face="Arial">High impact potential</font>
            </tr>
            <tr>
                <td width=110 align="center" bgcolor="darkorange"><font size=2 face="Arial"><b>Medium-High</b></font>
                <td width=70 align="center"><font size=2 face="Arial"><b>{{ fac_details.orange }}</b></font>
                <td width=500><font size=2 face="Arial">Medium-High impact potential</font>
            </tr>
            <tr>
                <td width=110 align="center" bgcolor="gold"><font size=2 face="Arial"><b>Medium</b></font>
                <td width=70 align="center"><font size=2 face="Arial"><b>{{ fac_details.yellow }}</b></font>
                <td width=500><font size=2 face="Arial">Medium impact potential</font>
            </tr>
            <tr>
                <td width=110 align="center" bgcolor="green"><font size=2 face="Arial"><b>Low</b></font>
                <td width=70 align="center"><font size=2 face="Arial"><b>{{ fac_details.green }}</b></font>
                <td width=500><font size=2 face="Arial">Low impact potential</font>
            </tr>
        </table>
        
        <br>
        </td>
    </tr>
    
    
    <tr>
        <td bgcolor={{ config.section_head.background_color }}>
            <font size=3 face="Arial">
                <b style="color:{{ config.section_head.font_color }};">List of Potentially Impacted Facilities: {% if notification %} {{ notification.group.facility_type or 'None' }} {% endif %}</b></font>
            </font>
        </td>
    </tr>
    
    <tr><td>
    <font size=2 face="Arial">
        {{ config.table.intro }}
    </font>
    <br><br>


    <table width=680 border=0 bordercolor=black cellpadding=3 cellspacing=0 bgcolor=#F0F0F0>
        <tr bgcolor=#D8D8D8>
        {% for head in config.table.headers %}
            {% if head.use == true %}
                <th>{{ head.val }}</th>
            {% endif %}
        {% endfor %}
        </tr>
        
        {% for fs in facility_shaking[0:200] %}
        <tr bgcolor="#F0F0F0">
            {% for head in config.table.headers %}
                {% if head.use == true %}
                    {% if fs.facility[head.name] %}
                        <td>{{ fs.facility[head.name] }}</td>
                    {% elif head.name == 'inspection_priority' %}
                        <td style="background-color:{{ fs.alert_level }};text-align:center">
                            <b>{{ head.translate[fs.alert_level] }}</b>    
                        </td>
                    {% elif head.name == 'shaking_value' %}
                        <td style="text-align:center">{{ fs[fs.metric.lower()] }}</td>
                    {% elif fs.facility.get_attribute(head.name) %}
                        <td style="text-align:center">{{ fs.facility.get_attribute(head.name) }}</td>
                    {% elif fs[head.name] %}
                        <td style="text-align:center">{{ fs[head.name] }}</td>
                    {% else %}
                        <td style="text-align:center">-</td>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% if config.table.footnotes %}
    <tr>
        <td>
            {% for footnote in config.table.footnotes %}
            <font size=2 face="Arial">
                {{ footnote }}
            </font>
            <br>
            {% endfor %}
        </td>
    </tr>
    {% endif %}

    <tr>
        <td height=30 bgcolor={{ config.section_head.background_color }}>
            <font size=3 face="Arial">
                <b style="color:{{ config.section_head.font_color }};">ShakeCast Server</b>
            </font>
        </td>
    </tr>

    <tr>
        <td>
            <table>
                <tr>
                    <td>
                        <font size=2 face="Arial">
                            ShakeCast Web: <b><a href="http://{{ sc.dict['Server']['DNS'] }}">{{ sc.dict['Server']['DNS'] }}</a></b><br>
                            Software:  <b>ShakeCast V4</b><br>
                            Reported by: <b>Server ID {{ sc.dict['Server']['name'] }}</b><br>
                            Notification Group: 
                            <b>
                                {% if notification %} {{ notification.group.name or 'None' }} {% endif %}
                            </b>
                            <br>
                            Template:  <b>{{ template_name or 'default' }}</b><br>
                            <br><br>
                            Questions about ShakeCast?  Contact Administrator at <a href="mailto:{{ config.admin_email }}?subject=ShakeCast+Inquiry" target="_blank">{{ config.admin_email }}</a>.
                        </font>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</html>
