.filter-form {
    padding: 10%;
    width: 80%;
    text-align: center;
}

.filter-form .search {
  width: 100%;
  font-size: 16px
}

#limitSlider {
    font-size: 18px;
    width:80%;
    text-align: left;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.3);
}

.useLimit input, label {
  display: inline-block
}

.filter-form label {
  color: white;
  padding-top: 10px;
}

h2 {
    text-align: left;
    margin: 0 0 0 20px;
    color: white;
    padding: 5px;
}

.control {
    margin: 10px;
    text-align: center;
}

.buttons-container {
    border: 2px solid #55aaee;
    border-radius: 5px;
    padding: 5px;
}