<div class="container">
    <div class="info-click" (click)="showInfo='yes'">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
    </div>

    <div class="info-container" *ngIf="showInfo=='yes'">
        <div class="info top"
                [class.triangle-left]="side=='left'"
                [class.triangle-right]="side=='right'">
            <i class="fa fa-times" id="close" aria-hidden="true" (click)="showInfo='no'"></i>
            <p [innerHtml]="text"></p>
        </div>
    </div>
</div>